{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

<p class="govuk-body"> <a href="/sec-charges-debt-company" class="govuk-link">sec-charges-debt-company</a></p>
<p class="govuk-body"> <a href="/sec-charges-debt" class="govuk-link">sec-charges-debt</a></p>
<p class="govuk-body"> <a href="/sec-check-answers" class="govuk-link">sec-check-answers</a></p>
<p class="govuk-body"> <a href="/sec-debenture" class="govuk-link">sec-debenture</a></p>
<p class="govuk-body"> <a href="/sec-dir-loans-sub-more" class="govuk-link">sec-dir-loans-sub-more</a></p>
<p class="govuk-body"> <a href="/sec-dir-loans-sub" class="govuk-link">sec-dir-loans-sub</a></p>
<p class="govuk-body"> <a href="/sec-dir-loans" class="govuk-link">sec-dir-loans</a></p>
<p class="govuk-body"> <a href="/sec-legal-development-more" class="govuk-link">sec-legal-development-more</a></p>
<p class="govuk-body"> <a href="/sec-legal-development" class="govuk-link">sec-legal-development</a></p>
<p class="govuk-body"> <a href="/security-start-page" class="govuk-link">security-start-page</a></p>
<p class="govuk-body"> <a href="/site-additional-no-ref" class="govuk-link">site-additional-no-ref</a></p>
<p class="govuk-body"> <a href="/site-additional" class="govuk-link">site-additional</a></p>
<p class="govuk-body"> <a href="/site-affordable-homes" class="govuk-link">site-affordable-homes</a></p>
<p class="govuk-body"> <a href="/site-check-anwers" class="govuk-link">site-check-anwers</a></p>
<p class="govuk-body"> <a href="/site-check-planning" class="govuk-link">site-check-planning</a></p>
<p class="govuk-body"> <a href="/site-coordinates" class="govuk-link">site-coordinates</a></p>
<p class="govuk-body"> <a href="/site-edit-dates" class="govuk-link">site-edit-dates</a></p>
<p class="govuk-body"> <a href="/site-grant-funding-more" class="govuk-link">site-grant-funding-more</a></p>
<p class="govuk-body"> <a href="/site-grant-funding" class="govuk-link">site-grant-funding</a></p>
<p class="govuk-body"> <a href="/site-many-homes" class="govuk-link">site-many-homes</a></p>
<p class="govuk-body"> <a href="/site-name" class="govuk-link">site-name</a></p>
<p class="govuk-body"> <a href="/site-ownership-no-ref" class="govuk-link">site-ownership-no-ref</a></p>
<p class="govuk-body"> <a href="/site-ownership" class="govuk-link">site-ownership</a></p>
<p class="govuk-body"> <a href="/site-planning-ref-enter" class="govuk-link">site-planning-ref-enter</a></p>
<p class="govuk-body"> <a href="/site-planning-ref" class="govuk-link">site-planning-ref</a></p>
<p class="govuk-body"> <a href="/site-purchase" class="govuk-link">site-purchase</a></p>
<p class="govuk-body"> <a href="/site-start-page" class="govuk-link">site-start-page</a></p>
<p class="govuk-body"> <a href="/site-summary-list" class="govuk-link">site-summary-list</a></p>
<p class="govuk-body"> <a href="/site-title-number" class="govuk-link">site-title-number</a></p>
<p class="govuk-body"> <a href="/site-type-homes" class="govuk-link">site-type-homes</a></p>
<p class="govuk-body"> <a href="/task-list" class="govuk-link">task-list</a></p>

{% endblock %}
