{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers 
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Charges outstanding or debt secured on development site"
            },
            value: {
              text: data['sec-charges-debt']
            },
            actions: {
              items: [
                {
                  href: "/sec-charges-debt",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Existing legal charges on development site"
            },
            value: {
              text: data['sec-legal-development']
            },
            actions: {
              items: [
                {
                  href: "/sec-legal-development",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: data['sec-legal-development-more']
            },
            actions: {
              items: [
                {
                  href: "/sec-legal-development-more",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
                
              ]
            }
          }
          ,
          {
            key: {
              text: "Charges outstanding or debt secured on company"
            },
            value: {
              text: data['sec-charges-debt-company']
            },
            actions: {
              items: [
                {
                  href: "/sec-charges-debt-company",
                  text: "Change",
                  visuallyHiddenText: "Question 4"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Debenture"
            },
            value: {
              text: data['sec-debenture']
            },
            actions: {
              items: [
                {
                  href: "/sec-debenture",
                  text: "Change",
                  visuallyHiddenText: "Question 5"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Director loans"
            },
            value: {
              text: data['sec-dir-loans']
            },
            actions: {
              items: [
                {
                  href: "/sec-dir-loans",
                  text: "Change",
                  visuallyHiddenText: "Question 6"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Subordinated loans"
            },
            value: {
              text: data['sec-dir-loans-sub']
            },
            actions: {
              items: [
                {
                  href: "/sec-dir-loans-sub",
                  text: "Change",
                  visuallyHiddenText: "Question 7"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: data['sec-dir-loans-sub-more']
            },
            actions: {
              items: [
                {
                  href: "/sec-dir-loans-sub-more",
                  text: "Change",
                  visuallyHiddenText: "Question 8"
                }
                
              ]
            }
          }
          
        ]
      }) }}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      <h2 class="govuk-heading-m">
        Have you completed this section?
      </h2>

{{ govukRadios({
  name: "sec-check-answers",
  fieldset: {
    legend: {
      text: ""
    }
  },
  items: [
    {
      name: "sec-check-answers",
      value: "No",
      text: "No, I’ll come back later"
    },
    {
      name: "sec-check-answers",
      value: "Yes",
      text: "Yes, I’ve completed this section"
    }
  ]
}) }}


      <form action="/task-list" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
