{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="/yes-no-confirmation" method="post">
        <input name="yes-route" value="/sec-legal-development" type="hidden">
        <input name="no-route" value="/sec-dir-loans" type="hidden">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sec-charges-debt-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are there any charges outstanding or debt secured on this development site?
              </h1>
            </legend>
            <div id="sec-charges-debt-hint" class="govuk-hint">
              Typically, a lender would take a legal charge over the development site as security for funding any development activity or land purchase.
            </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sec-charges-debt" name="sec-charges-debt" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="sec-charges-debt">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sec-charges-debt" name="sec-charges-debt" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="sec-charges-debt-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  <p class="govuk-body"><a href="task-list" class="govuk-link">Return to application</a></p>
  <p class="govuk-body"><a href="sec-check-answers.html" class="govuk-link">Show and edit all answers for this section</a></p>


{% endblock %}
