{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Charges outstanding or debt secured on development site
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-charges-debt' ]}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-charges-debt">
            Change<span class="govuk-visually-hidden"> sec-charges-debt</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Existing legal charges on development site
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-legal-development'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-legal-development">
            Change<span class="govuk-visually-hidden"> sec-legal-development</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-legal-development-more'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-legal-development-more">
            Change<span class="govuk-visually-hidden"> sec-legal-development-more</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Charges outstanding or debt secured on company
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-charges-debt-company'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-charges-debt-company">
            Change<span class="govuk-visually-hidden"> sec-charges-debt-company</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Debenture
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-debenture'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-debenture">
            Change<span class="govuk-visually-hidden"> sec-debenture</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Director loans
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-dir-loans'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-dir-loans">
            Change<span class="govuk-visually-hidden"> sec-dir-loans</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subordinated loans
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-dir-loans-sub'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-dir-loans-sub">
            Change<span class="govuk-visually-hidden"> sec-dir-loans-sub</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sec-dir-loans-sub-more'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sec-dir-loans-sub-more">
            Change<span class="govuk-visually-hidden"> sec-dir-loans-sub-more</span>
          </a>
        </dd>
      </div>
    </dl>

    <form class="form" action="/task-list" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sec-check-answers-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m">
              Have you completed this section?
            </h2>
          </legend>
          <div id="sec-check-answers-hint" class="govuk-hint">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sec-check-answers-2" name="sec-check-answers" type="radio"
                  value="No">
                <label class="govuk-label govuk-radios__label" for="sec-check-answers-2">
                  No, I`ll come back later
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sec-check-answers" name="sec-check-answers" type="radio"
                  value="Yes">
                <label class="govuk-label govuk-radios__label" for="sec-check-answers">
                  Yes, I`ve completed this section
                </label>
              </div>
            </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>
{% endblock %}