{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/site-planning-ref" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="site-type-homes-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What type of homes are you building?
            </h1>
          </legend>
          <div id="site-type-homes-hint" class="govuk-hint">
            Homes England does not support ground rents on apartments or flats.
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="site-type-homes" name="site-type-homes" type="checkbox"
                value="apartments or flats">
              <label class="govuk-label govuk-checkboxes__label" for="site-type-homes">
                Apartments or flats
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="site-type-homes-2" name="site-type-homes" type="checkbox"
                value="houses">
              <label class="govuk-label govuk-checkboxes__label" for="site-type-homes-2">
                Houses
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="site-type-homes-3" name="site-type-homes" type="checkbox"
                value="bungalows">
              <label class="govuk-label govuk-checkboxes__label" for="site-type-homes-3">
                Bungalows
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="site-type-homes-3" name="site-type-homes" type="checkbox"
                value="other">
              <label class="govuk-label govuk-checkboxes__label" for="site-type-homes-3">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
    <p class="govuk-body"><a href="task-list" class="govuk-link">Return to application</a></p>
    <p class="govuk-body"><a href="sec-check-answers.html" class="govuk-link">Show and edit all answers for this
        section</a></p>
  </div>
</div>

{% endblock %}