{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How many homes are you building?
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Enter how many homes you are building or the nearest estimate."
  },
  id: "site-many-homes",
  name: "site-many-homes"
}) }}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "Homes England does not provide loans to developers building less than 5 homes.
  If you have any questions, contact us via telephone: 0800..."
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      <p class="govuk-body"><a href="task-list" class="govuk-link">Return to application</a></p>
      <p class="govuk-body"><a href="sec-check-answers.html" class="govuk-link">Show and edit all answers for this section</a></p>
    </div>
  </div>

{% endblock %}
