{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Edit your estimated start and completion dates
    </h1>

    <form class="form" action="/site-additional" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="site-start-dates-hint">
          <legend class="govuk-fieldset__legend">
            Estimated start date
          </legend>

          <div class="govuk-date-input" id="site-start-dates">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-start-dates-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="site-start-dates-day"
                  name="site-start-dates-day" type="text" inputmode="numeric" value="{{ data['site-start-dates-day'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-start-dates-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="site-start-dates-month"
                  name="site-start-dates-month" type="text" inputmode="numeric" value="{{ data['site-start-dates-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-start-dates-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="site-start-dates-year"
                  name="site-start-dates-year" type="text" inputmode="numeric" value="{{ data['site-start-dates-year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="site-end-dates-hint">
          <legend class="govuk-fieldset__legend">
            Estimated completion date
          </legend>

          <div class="govuk-date-input" id="site-end-dates">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-end-dates-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="site-end-dates-day"
                  name="site-end-dates-day" type="text" inputmode="numeric" value="{{ data['site-end-dates-day'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-end-dates-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="site-end-dates-month"
                  name="site-end-dates-month" type="text" inputmode="numeric" value="{{ data['site-end-dates-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-end-dates-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="site-end-dates-year"
                  name="site-end-dates-year" type="text" inputmode="numeric" value="{{ data['site-end-dates-year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}