{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Planning details
      </h1>

      <p>You can update the details, such as if the completion date has changed.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Location"
            },
            value: {
              text: "Location from API"
            },
            actions: {
              items: [
                {
                  href: "/site-planning-ref-enter",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Planning status"
            },
            value: {
              text: "Planning status from API"
            },
            actions: {
              items: [
                {
                  href: "/site-planning-ref-enter",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Estimated start date"
            },
            value: {
              text: data['site-start-dates-day']+'/'+data['site-start-dates-month']+'/'+data['site-start-dates-year']
            },
            actions: {
              items: [
                {
                  href: "/site-edit-dates",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Estimated completion date"
            },
            value: {
              text: data['site-end-dates-day']+'/'+data['site-end-dates-month']+'/'+data['site-end-dates-year']
            },
            actions: {
              items: [
                {
                  href: "/site-edit-dates",
                  text: "Change",
                  visuallyHiddenText: "Question 4"
                }
              ]
            }
          }
        ]
      }) }}

     

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
