{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Additional site details
    </h1>

    <form class="form" action="/site-purchase" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="site-additional-no-ref-dates-hint">
          <legend class="govuk-fieldset__legend">
            Select the date this site was purchased or the nearest estimate.
          </legend>

          <div class="govuk-date-input" id="site-additional-no-ref-dates">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-additional-no-ref-dates-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="site-additional-no-ref-dates-day" name="site-additional-dates-day" type="text"
                  inputmode="numeric" value="{{ data['site-additional-dates-day'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-additional-no-ref-dates-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="site-additional-no-ref-dates-month" name="site-additional-dates-month" type="text"
                  inputmode="numeric" value="{{ data['site-additional-dates-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="site-additional-no-ref-dates-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                  id="site-additional-no-ref-dates-year" name="site-additional-dates-year" type="text"
                  inputmode="numeric" value="{{ data['site-additional-dates-year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Enter how much this site cost or the nearest estimate.</h2>
        </h1>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="site-additional-no-ref-cost" name="site-additional-cost"
            type="text" spellcheck="false" value="{{ data['site-additional-cost'] }}">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Enter how much this site is worth today or the nearest estimate.</h2>
        </h1>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="site-additional-no-ref-worth" name="site-additional-worth"
            type="text" spellcheck="false" value="{{ data['site-additional-worth'] }}">
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m">What is the source of this valuation?</h2>
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="site-additional-no-ref-source" name="site-additional-source"
                type="radio" value="Customer estimate">
              <label class="govuk-label govuk-radios__label" for="site-additional-no-ref-source">
                Customer estimate
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="site-additional-no-ref-source-2" name="site-additional-source"
                type="radio" value="Estate agent estimate">
              <label class="govuk-label govuk-radios__label" for="site-additional-no-ref-source-2">
                Estate agent estimate
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="site-additional-no-ref-source-3" name="site-additional-source"
                type="radio" value="RCS redbook valuation">
              <label class="govuk-label govuk-radios__label" for="site-additional-no-ref-source-3">
                RCS redbook valuation
              </label>

            </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

    <p class="govuk-body"><a href="task-list" class="govuk-link">Return to application</a></p>
    <p class="govuk-body"><a href="sec-check-answers.html" class="govuk-link">Show and edit all answers for this
        section</a></p>

  </div>
</div>

{% endblock %}